<ion-header>
  <ion-navbar>
    <ion-buttons left (click)="openMenu()" menuOpen>
      <button ion-button icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Transit IO
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-menu [content]="content">
  <ion-header>
    <ion-navbar color="primary">
      <ion-buttons right>
        <button ion-button icon-only menuClose detail-none>
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>
        Menu
      </ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button ion-item (click)="toHistoryPage()" no-lines>
        <ion-icon name="list-box" item-start></ion-icon>
        <h2>History</h2>
      </button>

      <button ion-item (click)="toBookmarksPage()" no-lines>
        <ion-icon name="bookmarks" item-start></ion-icon>
        <h2>Bookmarks</h2>
      </button>

      <hr>

      <button ion-item (click)="toAboutPage()">
        <ion-icon name="information-circle" item-start></ion-icon>
        <h2>About</h2>
      </button>
    </ion-list>
  </ion-content>
  <ion-footer>
    <h4>Version: beta_1.3</h4>
  </ion-footer>
</ion-menu>

<ion-content #content>
  <div class="search">
    <ion-list inset padding>
      <ion-item>
        <button ion-button (click)="fromSelectOnMap()" clear icon-only item-right>
          <ion-icon name="locate" large></ion-icon>
        </button>
        <ion-input type="text" placeholder="Eg: Ain Sebaa" [(ngModel)]="destination.from"></ion-input>
      </ion-item>
      <ion-item>
        <button ion-button (click)="toSelectOnMap()" clear icon-only item-right>
          <ion-icon name="locate" large></ion-icon>
        </button>
        <ion-input type="text" placeholder="Eg: Ouasis" [(ngModel)]="destination.to"></ion-input>
      </ion-item>
      <button id="search-button" ion-button outline block padding (click)="search()">Search</button>
    </ion-list>
  </div>

  <div class="noData" *ngIf="transitData == undefined">
    <h2>
      ¯&#92;_(ツ)_/¯
    </h2>
  </div>

  <div class="result" *ngIf="transitData && transitData.status == 'OK'">
    <ion-card>



      <div id="resultMap" #resultMap style="width: 100%; height:400px;"></div>
      <ion-fab right bottom>
        <button ion-fab (click)="bookmark()">
          <ion-icon name="bookmark"></ion-icon>
        </button>
      </ion-fab>
      <ion-item>
        <ion-icon name="information-circle" item-start></ion-icon>
        <h1>{{transitData.routes[0].legs[0].duration.text}} to arrive</h1>
        <h2>Departure: {{transitData.routes[0].legs[0].departure_time.text}}, Arrival: {{transitData.routes[0].legs[0].arrival_time.text}}</h2>
        <h2>Distance: {{transitData.routes[0].legs[0].distance.text}}</h2>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-card-header>
        More Information
      </ion-card-header>
      <ion-list>
        <ion-item *ngFor="let step of steps">
          <ion-icon *ngIf="step.travel_mode == 'TRANSIT'" name="bus" item-start></ion-icon>
          <ion-icon *ngIf="step.travel_mode == 'WALKING'" name="walk" item-start></ion-icon>
          <h2 *ngIf="step.travel_mode == 'TRANSIT'">Bus: {{step.transit_details.line.short_name}}</h2>
          <h3>{{step.duration.text}} {{step.distance.text}} </h3>
          <p>{{step.html_instructions}}</p>
          <button ion-button clear icon-only item-end (click)="toViewDetails(step)">
            <ion-icon name="information-circle" large></ion-icon>
          </button>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
</ion-content>
