
$font-path: "../assets/fonts";

$app-direction: ltr;

@import "ionic.globals";

@font-face {
  font-family: "Asap-Regular";
  src: url($font-path + '/Asap-Regular.ttf');
}

$font-family-base: "Asap-Regular";


$toolbar-background: #3f51b5;

$colors: (
  primary:    #3f51b5,
  secondary:  #3edb6a,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


@import "ionic.theme.default";

@import "ionic.ionicons";

@import "roboto";
@import "noto-sans";
